{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="content7 cid-sKTczl36PL" id="content7-1p">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10">
                <blockquote>
                <h5 class="mbr-section-title mbr-fonts-style mb-2 display-2"><strong>Retrouvez tous vos artistes</strong></h5>
                <p class="mbr-text mbr-fonts-style display-4"></p></blockquote>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sKTiXGPhnh" id="content4-2c">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">

            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sKThDvlxdR" id="content4-28">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2"><strong>Artistes peoples du moment</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="gallery2 cid-sKTdxcIWMy" id="gallery2-1w">
    <div class="container">
        <div class="row mt-4">
            {% for artiste in page_obj %}
                <div class="item features-image сol-12 col-md-6 col-lg-3">
                    <div class="item-wrapper">
                        <div class="item-img">
                            {% if artiste.photo %}
                            <a href="{%url 'artisteSelected' artiste.slug %}">
                                <img src="{{ artiste.photo.url }}" alt="no image" width="599" height="200">
                            </a>
                            {% endif %}
                        </div>
                        <div class="item-img">
                            <a href="{%url 'artisteSelected' artiste.slug %}" style="margin-top:3px;">
                                <h3 class="text-center"> {{ artiste.nom }} </h3>
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

           <div class="row mt-4">
            <div class="col-12 col-md-12 col-lg-12 align-items-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj.has_previous %}
                            <a href="?page=1">&laquo; premier</a>
                            <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
                        {% endif %}

                        <span class="current">
                            {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}.
                        </span>

                        {% if page_obj.has_next %}
                            <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                            <a href="?page={{ page_obj.paginator.num_pages }}">dernier &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="content4 cid-sKTidCutny" id="content4-2b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Artistes français</strong>
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="gallery2 cid-sKTdzIw7OF" id="gallery2-1x">
    <div class="container">
        <div class="row mt-4">
        {% for artiste in page_obj1 %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        {% if artiste.photo %}
                        <a href="{%url 'artisteSelected' artiste.slug %}">
                            <img src="{{ artiste.photo.url }}" alt="no image" width="599" height="200">
                        </a>
                        {% endif %}
                    </div>
                    <div class="item-img">
                        <a href="{%url 'artisteSelected' artiste.slug %}" style="margin-top:3px;">
                            <h3 class="text-center"> {{ artiste.nom }} </h3>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
          <div class="row mt-4">
            <div class="col-12 col-md-12 col-lg-12 align-items-center">
                <div class="pagination" style="margin-bottom:15px;">
                    <span class="step-links">
                        {% if page_obj1.has_previous %}
                            <a href="?page=1">&laquo; premier</a>
                            <a href="?page={{ page_obj1.previous_page_number }}">précédent</a>
                        {% endif %}

                        <span class="current">
                            {{ page_obj1.number }} / {{ page_obj1.paginator.num_pages }}.
                        </span>

                        {% if page_obj1.has_next %}
                            <a href="?page={{ page_obj1.next_page_number }}">suivant</a>
                            <a href="?page={{ page_obj1.paginator.num_pages }}">dernier &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sKTidCutny" id="content4-2b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Artistes francophones</strong>
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="gallery2 cid-sKTi9Lv288" id="gallery2-2a">
    <div class="container">
        <div class="row mt-4">
        {% for artiste in page_obj2 %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        {% if artiste.photo %}
                        <a href="{%url 'artisteSelected' artiste.slug %}">
                            <img src="{{ artiste.photo.url }}" alt="no image" width="599" height="200">
                        </a>
                        {% endif %}
                    </div>
                    <div class="item-img">
                        <a href="{%url 'artisteSelected' artiste.slug %}" style="margin-top:3px;">
                            <h3 class="text-center"> {{ artiste.nom }} </h3>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
         <div class="row mt-4">
            <div class="col-12 col-md-12 col-lg-12 align-items-center">
              <div class="pagination">
                <span class="step-links">
                        {% if page_obj2.has_previous %}
                            <a href="?page=1">&laquo; premier</a>
                            <a href="?page={{ page_obj2.previous_page_number }}">précédent</a>
                        {% endif %}

                        <span class="current">
                            {{ page_obj2.number }} / {{ page_obj2.paginator.num_pages }}.
                        </span>

                        {% if page_obj2.has_next %}
                            <a href="?page={{ page_obj2.next_page_number }}">suivant</a>
                            <a href="?page={{ page_obj2.paginator.num_pages }}">dernier &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sKTidCutny" id="content4-2b">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Artistes locaux</strong></h3>
            </div>
        </div>
    </div>
</section>

<section class="gallery2 cid-sKTi9Lv288" id="gallery2-2a">
    <div class="container">
        <div class="row mt-4">
        {% for artiste in page_obj3 %}
            <div class="item features-image сol-12 col-md-6 col-lg-3">
                <div class="item-wrapper">
                    <div class="item-img">
                        {% if artiste.photo %}
                        <a href="{%url 'artisteSelected' artiste.slug %}">
                            <img src="{{ artiste.photo.url }}" alt="no image" width="599" height="200">
                        </a>
                        {% endif %}
                    </div>
                    <div class="item-img">
                        <a href="{%url 'artisteSelected' artiste.slug %}"  style="margin-top:3px;">
                            <h3 class="text-center"> {{ artiste.nom }} </h3>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}

        </div>
          <div class="row mt-4">
            <div class="col-12 col-md-12 col-lg-12 align-items-center">
                <div class="pagination">
                    <span class="step-links">
                        {% if page_obj3.has_previous %}
                            <a href="?page=1">&laquo; premier</a>
                            <a href="?page={{ page_obj3.previous_page_number }}">précédent</a>
                        {% endif %}

                        <span class="current">
                            {{ page_obj3.number }} / {{ page_obj3.paginator.num_pages }}.
                        </span>

                        {% if page_obj3.has_next %}
                            <a href="?page={{ page_obj3.next_page_number }}">suivant</a>
                            <a href="?page={{ page_obj3.paginator.num_pages }}">dernier &raquo;</a>
                        {% endif %}
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
