

{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<style>
    #texteEuro {
        margin-top:25px;
        text-indent: 25px;
    }
</style>

<section class="header2 cid-sL4HIDkO83 mbr-parallax-background" style="  background-image: url('{%static 'images/8435641-euromillions-fdj.jpg' %}');" id="header2-31">
    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(0, 0, 0);"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-10">
                <h1 class="mbr-section-title mbr-fonts-style mb-3 display-1">
                    <strong style="margin-left:-150px;">Vivez les tirages d'euro Millions monde à fond.</strong>
                </h1>
            </div>
        </div>
    </div>
</section>

<section style="margin-top:30px;">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12">
                <div class="item-video">
                    {% if link_video %}
                    <iframe width="800" height="500" src="{{ link_video }}?rel=0&autoplay=1&controls=1&loop=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <a href="#">
                        <h3 style="margin-top:5px;" class="text-center">Euro Millions Monde - <a target="_blank" href="https://www.youtube.com/user/ekilamusic/featured"> SVP likez et abonnez-vous à notre
                        chaine youtube ici.</a></h3></br>
                        <h3 class="text-center"> <a>Jouez à l'euro millions monde, vous avez le droit de rêver !!!</a></h3>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-sm-12">
                <h3 id="texteEuro">
                    Consultez les derniers résultats d'EuroMillions ainsi que les codes
                    gagnants My Million. Tous les mardi et vendredi, Elsa fayer ou Karine Ferri vous présentent les résultats des tirages officiels de My Million vers 20h50
                    puis EuroMillions vers 21h50. Découvrez les 5 numéros gagnants et les 2 bonnes étoiles d'EuroMillions, mais aussi les codes gagnants My Million des derniers tirages !
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="content11 cid-sL3MClhyh8" id="content11-2q">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-lg-4">
                <div class="mbr-section-btn align-center">
                    <a class="btn btn-primary display-4" href="{%url 'ticketGagnant' %}">Voir les tickets précédemment tirés au sort</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="content4 cid-sL3MUlaX4G" id="content4-2r">
    <div class="container">
        <div class="row justify-content-center">
            <div class="title col-md-12 col-lg-10">
                <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-2">
                    <strong>Jouer à l'Euro Millions Monde</strong>
                </h3>
            </div>
        </div>
    </div>
</section>

<section class="image3 cid-sL3MlFqkT2" id="image3-2o">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 mx-auto mbr-form" style="margin-top:-70px;" data-form-type="formoid">
                <form method="POST" class="mbr-form form-with-styler" data-form-title="Form Name">
                {% csrf_token %}
                    <div class="dragArea row">
                        <div class="col-12 form-group">
                            <label> Entrer 5 nombres dans les cases suivantes de 1 à 50:</label>
                        </div>

                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" name="first" min="1" max="50" type="number" required>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" name="second" min="1" max="50" type="number" required>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" name="third" min="1" max="50" type="number" required>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" name="fourth" min="1" max="50" type="number" required>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" name="fifth" min="1" max="50" type="number" required><br>
                        </div>

                        <div class="col-12 form-group">
                            <label> Entrer 2 nombres dans les cases suivantes de 1 à 12:</label>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" min="1" name="start1" max="12" type="number" required>
                        </div>
                        <div class="col-md col-sm-12 form-group">
                            <input class="form-control" min="1" name="start2" max="12" type="number" required>
                        </div>
                    </div>

                    <div class="dragArea row">
                         <div class="col-12 form-group" data-for="pers">
                            <select class="form-control" id="pers" name="pers">
                                <option value="Monsieur">M</option>
                                <option value="Madame">Mme</option>
                            </select>
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="nom">
                            <input type="text" name="nom" placeholder="vote nom" class="form-control" id="nom-form5-2e" required>
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="prenom">
                            <input type="text" name="prenom" placeholder="prenom" data-form-field="prenom" class="form-control" id="prenom-form5-3e" required>
                        </div>
                         <div class="col-12 form-group">
                            <label> Date de naissance: </label><br>
                        </div>
                        <div class="col-12 form-group" data-for="date-naissance">
                            <input type="date" name="date-naissance" class="form-control" id="date-form5-2e" required>
                        </div>
                        <div class="col-12 form-group" data-for="email">
                            <input type="mail" name="email" placeholder="xyz@yahoo.fr" data-form-field="email" class="form-control" required id="email-form5-3e">
                        </div>
                        <div class="col-12 form-group" data-for="cni">
                             <input type="text" name="cni" placeholder="numero d'identite ou passport" required data-form-field="cni" class="form-control">
                        </div>

                        <div class="col-md col-sm-12 form-group" data-for="phone">
                            <input id="phone" class="form-control" type="tel" name="phone" required />
                        </div>
                        <div class="col-md col-sm-12 form-group" data-for="pays">
                            <select class="form-control" id="countries" name="pays"></select>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btnr">
                            <button class="btn btn-primary display-4" type="submit">Envoyer</button>
                        </div>
                    </div>
                </form>
                    {% if messages %}
                        <div class="col-12" style ="margin-top:50px;" role="alert">
                            <ul class="messages">
                                {% for message in messages %}
                                    {% if message.tags == 'error' %}
                                        <p class = "alert alert-danger"> {{ message }} </p>
                                    {% endif %}

                                    {% if message.tags == 'success' %}
                                        <p class = "alert alert-success"> {{ message }} </p>
                                    {% endif %}
                                {% endfor %}
                              </ul>
                        </div>
                    {% endif %}
                </div>
        </div>
    </div>
</section>


<script src="https://www.google.com/recaptcha/api.js?render={{ captcha }}"></script>
<script>
    var countries = {
            "IM": "Île de Man",
            "HR": "Croatie",
            "GW": "Guinée-Bissau",
            "IN": "Inde",
            "KE": "Kenya",
            "LA": "Laos",
            "IO": "Territoire britannique de l'océan Indien",
            "HT": "Haïti",
            "LB": "Liban",
            "GY": "Guyana",
            "KG": "Kirghizistan",
            "HU": "Hongrie",
            "LC": "Sainte-Lucie",
            "IQ": "Irak",
            "KH": "Cambodge",
            "JM": "Jamaïque",
            "IR": "Iran",
            "KI": "Kiribati",
            "IS": "Islande",
            "MA": "Maroc",
            "JO": "Jordanie",
            "IT": "Italie",
            "JP": "Japon",
            "MC": "Monaco",
            "KM": "Comores",
            "MD": "Moldavie",
            "LI": "Liechtenstein",
            "KN": "Saint-Christophe-et-Niévès",
            "ME": "Monténégro",
            "NA": "Namibie",
            "MF": "Saint-Martin",
            "LK": "Sri Lanka",
            "KP": "Corée du Nord",
            "MG": "Madagascar",
            "NC": "Nouvelle-Calédonie",
            "MH": "Îles Marshall",
            "KR": "Corée du Sud",
            "NE": "Niger",
            "NF": "Île Norfolk",
            "MK": "Macédoine",
            "NG": "Nigéria",
            "ML": "Mali",
            "MM": "Myanmar (Birmanie)",
            "LR": "Libéria",
            "NI": "Nicaragua",
            "KW": "Koweït",
            "MN": "Mongolie",
            "LS": "Lesotho",
            "PA": "Panamá",
            "MO": "Macau",
            "LT": "Lituanie",
            "KY": "Îles Caïmans",
            "MP": "Îles Mariannes du Nord",
            "LU": "Luxembourg",
            "NL": "Pays-Bas",
            "KZ": "Kazakhstan",
            "MQ": "Martinique",
            "LV": "Lettonie",
            "MR": "Mauritanie",
            "PE": "Pérou",
            "MS": "Montserrat",
            "QA": "Qatar",
            "NO": "Norvège",
            "PF": "Tahïti (Polynésie française)",
            "MT": "Malte",
            "LY": "Libye",
            "NP": "Népal",
            "PG": "Papouasie-Nouvelle-Guinée",
            "MU": "Maurice",
            "PH": "Philippines",
            "MV": "Maldives",
            "OM": "Oman",
            "NR": "Nauru",
            "MW": "Malawi",
            "MX": "Mexico",
            "PK": "Pakistan",
            "MY": "Malaisie",
            "NU": "Niue",
            "PL": "Pologne",
            "MZ": "Mozambique",
            "PM": "Saint-Pierre-et-Miquelon",
            "PN": "Îles Pitcairn",
            "RE": "La Réunion",
            "SA": "Arabie saoudite",
            "SB": "Îles Salomon",
            "NZ": "Nouvelle-Zélande",
            "SC": "Seychelles",
            "SD": "Soudan",
            "PR": "Porto Rico",
            "SE": "Suède",
            "PS": "Territoires palestiniens occupés",
            "PT": "Portugal",
            "SG": "Singapour",
            "TC": "Îles Turques-et-Caïques",
            "SH": "Sainte-Hélène",
            "TD": "Tchad",
            "SI": "Slovénie",
            "PW": "Palaos",
            "SJ": "Svalbard et Jan Mayen",
            "UA": "Ukraine",
            "RO": "Roumanie",
            "TF": "Terres australes et antarctiques françaises",
            "SK": "Slovaquie",
            "PY": "Paraguay",
            "TG": "Togo",
            "SL": "Sierra Leone",
            "TH": "Thaïlande",
            "SM": "Saint-Marin",
            "SN": "Sénégal",
            "RS": "Serbie (Yougoslavie)",
            "TJ": "Tadjikistan",
            "VA": "Cité du Vatican",
            "SO": "Somalie",
            "TK": "Tokelau",
            "UG": "Ouganda",
            "RU": "Russie",
            "TL": "Timor oriental",
            "VC": "Saint-Vincent-et-les-Grenadines",
            "TM": "Turkménistan",
            "SR": "Suriname",
            "RW": "Rwanda",
            "TN": "Tunisie",
            "VE": "Venezuela",
            "TO": "Tonga",
            "ST": "Sao Tomé-et-Principe",
            "VG": "Îles Vierges britanniques",
            "SV": "Salvador",
            "UM": "Îles mineures éloignées des États-Unis",
            "TR": "Turquie",
            "VI": "Îles Vierges(US)",
            "WF": "Wallis-et-Futuna",
            "TT": "Trinité-et-Tobago",
            "SY": "Syrie",
            "SZ": "Swaziland",
            "TV": "Tuvalu",
            "TW": "Taïwan",
            "VN": "Viêt Nam",
            "US": "États-Unis(USA)",
            "TZ": "Tanzanie",
            "YE": "Yémen",
            "ZA": "Afrique du Sud",
            "XK": "République du Kosovo",
            "UY": "Uruguay",
            "VU": "Vanuatu",
            "UZ": "Ouzbékistan",
            "WS": "Samoa",
            "ZM": "Zambie",
            "AC": "Île de l'Ascension",
            "AD": "Andorre",
            "YT": "Mayotte",
            "AE": "Émirats arabes unis",
            "YU": "Serbia and Montenegro",
            "BA": "Serbie-et-Monténégro",
            "AF": "Afghanistan",
            "BB": "Barbade",
            "AG": "Antigua-et-Barbuda",
            "BD": "Bangladesh",
            "AI": "Anguilla",
            "BE": "Belgique",
            "CA": "Canada",
            "BF": "Burkina Faso",
            "BG": "Bulgarie",
            "ZW": "Zimbabwe",
            "AL": "Albanie",
            "CC": "Îles Cocos",
            "BH": "Bahreïn",
            "AM": "Arménie",
            "CD": "République démocratique du Congo",
            "BI": "Burundi",
            "AN": "Antilles néerlandaises",
            "BJ": "Bénin",
            "AO": "Angola",
            "CF": "République centrafricaine",
            "CG": "République du Congo",
            "AQ": "Antarctique",
            "CH": "Suisse",
            "BM": "Bermudes",
            "AR": "Argentine",
            "CI": "Côte d'Ivoire",
            "BN": "Brunei Darussalam",
            "DE": "Allemagne",
            "AS": "Samoa américaines",
            "BO": "Bolivie",
            "AT": "Autriche",
            "CK": "Îles Cook",
            "AU": "Australie",
            "CL": "Chili",
            "EC": "Équateur",
            "CM": "Cameroun",
            "BR": "Brésil",
            "AW": "Aruba",
            "CN": "Chine",
            "EE": "Estonie",
            "BS": "Bahamas",
            "DJ": "Djibouti",
            "AX": "Åland",
            "CO": "Colombie",
            "BT": "Bhoutan",
            "DK": "Danemark",
            "EG": "Égypte",
            "AZ": "Azerbaïdjan",
            "EH": "Sahara occidental",
            "BV": "Île Bouvet",
            "DM": "Dominique",
            "CR": "Costa Rica",
            "BW": "Botswana",
            "GA": "Gabon",
            "DO": "République dominicaine",
            "BY": "Biélorussie",
            "GB": "Royaume-Uni",
            "CU": "Cuba",
            "BZ": "Bélize",
            "CV": "Cap-Vert",
            "GD": "Grenade",
            "FI": "Finlande",
            "GE": "Géorgie",
            "FJ": "Fidji",
            "CX": "Île Christmas",
            "GF": "Guyane",
            "FK": "Îles Malouines",
            "CY": "Chypre",
            "GG": "Guernesey",
            "CZ": "République tchèque",
            "GH": "Ghana",
            "FM": "Micronésie",
            "ER": "Érythrée",
            "GI": "Gibraltar",
            "ES": "Espagne",
            "FO": "Îles Féroé",
            "ET": "Éthiopie",
            "GL": "Groenland",
            "DZ": "Algérie",
            "GM": "Gambie",
            "ID": "Indonésie",
            "FR": "France",
            "GN": "Guinée",
            "IE": "Irlande",
            "HK": "Hong Kong",
            "GP": "Guadeloupe",
            "GQ": "Guinée équatoriale",
            "HM": "Îles Heard-et-MacDonald",
            "GR": "Grèce",
            "HN": "Honduras",
            "JE": "Jersey",
            "GS": "Géorgie du Sud-et-les Îles Sandwich du Sud",
            "FX": "France métropolitaine",
            "GT": "Guatemala",
            "GU": "Guam",
            "IL": "Israël"
          }

    function country_dropdown(user_country_code='') {
        let option = '';
        for (let country_code in countries) {
            let selected = (country_code == user_country_code) ? ' selected' : '';
            let value = country_code;
            let text = countries[country_code];
            option += '<option value="'+value+'"'+selected+'>'+text+'</option>';
        }
        document.getElementById('countries').innerHTML = option;
    }
    country_dropdown("CM");

    function getIp(callback) {
        const token = 'df08bf7aba2d58'
        fetch('https://ipinfo.io/json?token=df08bf7aba2d58', {
                headers: {
                    'Accept': 'application/json'
                }
            })
            .then((resp) => resp.json())
            .catch(() => {
                return {
                    country: 'us',
                };
            })
            .then((resp) => callback(resp.country));
    }

    const phoneInputField = document.querySelector("#phone");
    const phoneInput = window.intlTelInput(phoneInputField, {
        preferredCountries: ["fr", "cm", "us"],
        initialCountry: "auto",
        geoIpLookup: getIp,
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
    });

    grecaptcha.ready(function() {
      grecaptcha.execute('{{ captcha }}', { action: "/euro-million/"}).then(function(token) {
        document.getElementById('recaptcha-response').value = token;
      });
    });
</script>

{% endblock %}
