

{% extends 'base.html' %}

{% load static %}

{% block content %}

    <!-- ##### Contact Form Area Start ##### -->
    <div class="contact-area section-padding-0-80">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="single-blog-post style-2">
                        <div class="post-data">
                            <a href="#" style="font-size:60px; margin-top:60px;" class="post-catagory">CONDITIONS GENERALES D'UTILISATION</a>
                                <p class="mb-4" style="text-indent:45px; font-size:1.2em;margin-top:15px;">
                                    {{ condition.gcu  | linebreaks }}
                                </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
