{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="form5 cid-sKTlntgVIA" id="form5-2e">
    <div class="container">
        <div class="row justify-content-center mt-4">
            <img src="{%static 'images/newsletter.png' %}" style="width:65%; margin-bottom:50px;" alt="no image">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <div class="col-12">
                    {% if email %}
                    <p>{{ email }} {{ action }}.</p>
                    {% endif %}
                </div>
                <form method="post" id="demo-form">
                {% csrf_token %}
                    {{ form.nom | as_crispy_field}}
                    {{ form.email | as_crispy_field }}

                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <button type="submit" class="btn btn-primary display-7">valider</button>
                </form>

                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <div style="margin-top:50px;" role="alert">
                            {% if message.tags == 'error'%}
                                <li class = "alert alert-danger"> {{ message }} </li>
                            {% endif %}

                            {% if message.tags == 'success' %}
                                <li class = "alert alert-success"> {{ message }} </li>
                            {% endif %}
                            </div>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</section>

<script src="https://www.google.com/recaptcha/api.js?render={{ recaptcha_site_key }}"></script>
<script>
    grecaptcha.ready(function() {
      grecaptcha.execute('{{recaptcha_site_key}}', {action: "/newsletter/"}).then(function(token) {
        document.getElementById('g-recaptcha-response').value = token;
      });
    });
</script>

{% endblock %}
