<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>E-RADIO | Vivez la vie à fond - Infos - Musik - Talk - Jeux</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="E-RADIO | Vivez la vie à fond - Infos - Musik - Talk - Jeux">
	<meta name="keywords" content="Ekila radio, ekila, radio, e-radio, webradio, radio digitale, radio à thème, e-radio en afrique, viez la vie à fond, artistes africains, Musik africa, e-radio talk, e-radio infos, e-radio jeux" />
	<meta name="robots" content="index,follow,all">
	<META NAME="Search Engines" CONTENT="AltaVista, AOLNet, Infoseek, Excite, Hotbot, Lycos, Magellan, LookSmart, CNET, voila, google, yahoo, alltheweb, msn, netscape, nomade">
	<META NAME="Updated" CONTENT="daily">

    <style>
        .container{
            padding:50px;
            text-align:center;
        }
        .inner-div{
            display:inline-block;
            padding:50%;
            background-color:#eee;
        }
        .text-center {
            margin-top: -100px;
        }
        .h1, h1 {
            margin-bottom: -1em;
        }

    </style>
</head>
<body style='background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.vectorstock.com%2Froyalty-free-vector%2Fradio-logo-music-equalizer-emblem-vector-8416177&psig=AOvVaw3r9GwLLV2ubPFbfftS5AKf&ust=1621435635102000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCLif3s280_ACFQAAAAAdAAAAABAD")'>
        <div class="container d-flex justify-content-center my-4 mb-5">
            <div class="inner-div">
                <h1 class="text-center" style="margin-bottom:10px;">Suivez votre radio préférée </h1>
                <img width="500" style="margin-top:30px; margin-bottom:30px;" src="{{radio_theme.image.url}}">
                <h1 class="text-center" style="margin-top:-2px;">Vous suivez {{ radio_theme.nom }}</h1>

                <div class="audio" style="margin-top:45px;" class="col-sm-6 col-sm-offset-6 embed-responsive embed-responsive-4by3">
                    <audio controls autoplay class="embed-responsive-item">
                        <source src="{{ radio_theme.flux }}" type="audio/mpeg">
                    </audio>
                </div>
            </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
